QComboBox {

  &::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    width: 40px;
    border: 0;

    &:hover {
      background: $field-02;
    }

    &:on {
      border: 2px solid $focus;
    }
  }

  &::down-arrow {
    image: url('./src/main/resources/src/icons/chevron--down.svg');

    &:on {
      image: url('./src/main/resources/src/icons/chevron--up.svg');
    }
  }

  &:editable {
    //  can put something here?
    &:on {
      // field when popup is opened
    }
  }
}

//
//QComboBox:! editable, QComboBox::drop-down:editable {
//  background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
//  stop:0 #E1E1E1, stop:0.4 #DDDDDD,
//  stop:0.5 #D8D8D8, stop:1.0 #D3D3D3);
//}
//
///* QComboBox gets the "on" state when the popup is open */
//QComboBox:! editable:on, QComboBox::drop-down:editable:on {
//  background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
//  stop:0 #D3D3D3, stop:0.4 #D8D8D8,
//  stop:0.5 #DDDDDD, stop:1.0 #E1E1E1);
//}
//
//QComboBox:on { /* shift the text when the popup opens */
//  padding-top: 3px;
//  padding-left: 4px;
//}
//

//
//QComboBox
//
//QComboBox::down-arrow
