QDockWidget {
  color: $text-01;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  titlebar-close-icon: url('./src/main/resources/src/icons/close.svg');
  titlebar-normal-icon: url('./src/main/resources/src/icons/launch.svg');

  &::title {
    text-align: left;
    margin-left: -25px;
    padding: 0;
    background: $ui-01;
    alignment: left;
  }

  //&::close-button {
  //  subcontrol-position: center right;
  //  subcontrol-origin: content;
  //  height: 40px;
  //  width: 40px;
  //  padding: 2px;
  //}
  //
  //&::float-button {
  //  subcontrol-position: center left;
  //  subcontrol-origin: content;
  //}

  &::float-button,
  &::close-button {
    border: 0;
    background: transparent;
    padding: 0;
    text-align: right;

    &:hover {
      background: $hover-ui;
    }

    &:pressed {
      //border: 2px solid $inverse-02;
    }
  }
}
