QPushButton {
  border: 0 solid transparent;
  border-radius: 0;
  background-color: $interactive-02;
  color: $text-04;
  min-width: 80px;
  padding: 16px;
  text-align: left;

  &:hover {
    background-color: $hover-secondary;
  }

  &:pressed {
    background-color: $active-secondary;
  }

  &:focus {
    border: 2px solid $focus;
  }

  &:flat {
  }

  &:default {
  }
}
