QWidget {
  font: 14px "IBM Plex Sans";
  background-color: $ui-background;
  border: 0px solid $ui-background;
  //padding: 0px;
  //margin: 0px;
  color: $text-01;
  selection-background-color: $interactive-01;
  selection-color: $text-01;

  &:disabled {
    background-color: $ui-01;
    color: $text-03;
    selection-background-color: $interactive-02;
    selection-color: $text-01;
  }

  &::item {
    &:selected {
      background-color: $interactive-01;
    }

    &:hover {
      background-color: $interactive-02;
      color: $text-04;
    }
  }
}
