QDockWidget {
  color: $text-01;
  background: $ui-01;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  titlebar-close-icon: url('./build/assets/svg/close.svg');
  titlebar-normal-icon: url('./build/assets/svg/apps.svg');

  &::title {
    text-align: left;
    margin-left: -25px;
    padding: 0;
    background: $ui-01;
    alignment: left;
    min-height: 60px;
  }

  &::close-button {
    subcontrol-position: center right;
    subcontrol-origin: content;
    padding: 0;
    margin: 0;
  }

  &::float-button {
    subcontrol-position: center left;
    subcontrol-origin: content;
  }

  &::float-button,
  &::close-button {
    border: 0;
    background: transparent;
    padding: 0;
    text-align: right;

    &:hover {
      background: $hover-ui;
    }

    &:pressed {
      //border: 2px solid $inverse-02;
    }
  }
}
