QTabWidget {
  background: $ui-background;

  &::pane {
    /* The tab widget frame */
    padding: 0;
    margin: 0;
  }
  &::tab-bar {
    padding: 0;
    margin: 0;
    background: red;
  }
}

QTabBar {
  /* Style the tab using the tab sub-control. Note that
      it reads QTabBar _not_ QTabWidget */
  &::tab {
    font: 14px 'IBM Plex Sans';
    color: $text-02;
    background: $ui-background;
    border-bottom: 3px solid $ui-03;
    margin-right: 2px;
    padding: 8px 16px;

    &:hover {
      border-bottom: 3px solid $ui-04;
      color: $text-04;
    }

    &:selected {
      color: $text-01;
      font-weight: bold;
      border-bottom: 3px solid $interactive-04;
    }
  }
}
